aenum==2.2.3
apiai==1.2.3
appdirs==1.4.3
astroid==2.4.0
attrs==19.3.0
Automat==20.2.0
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
constantly==15.1.0
cryptography==2.9.1
cssselect==1.1.0
facebook-chatbot==1.2.0
facebook-scraper==0.1.12
fake-useragent==0.1.11
fbchat==1.9.6
Flask==0.12.2
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
lxml==4.5.0
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.18.3
paho-mqtt==1.5.0
pandas==1.0.3
parse==1.15.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
pyee==7.0.1
PyHamcrest==2.0.2
pylint==2.5.0
pymessenger==0.0.7.0
pyOpenSSL==19.1.0
pyppeteer==0.0.25
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2019.3
queuelib==1.5.0
requests==2.23.0
requests-html==0.10.0
requests-toolbelt==0.9.1
service-identity==18.1.0
six==1.14.0
soupsieve==2.0
toml==0.10.0
tqdm==4.46.0
Twisted==20.3.0
typed-ast==1.4.1
urllib3==1.25.9
w3lib==1.21.0
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
zope.interface==5.1.0
